<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}

    <div class="row m-2">
      <div
        class="col-md-3 col-lg-2 bg-dark text-white d-flex flex-column vh-100 p-3"
      >
        <h4 class="mb-4">Filter by categories</h4>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">Meat</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">Vegan</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link text-white">Vegeterian</a>
          </li>
        </ul>
      </div>

      {% for dish in dishes %} {% include 'card.html'%} {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
