<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}

    <div class="row m-2">
      <div
        class="col-md-3 col-lg-2 bg-dark text-white d-flex flex-column vh-100 p-3"
      >
        <h4 class="mb-4">Filter by categories</h4>
        <ul class="nav flex-column">
          {% for category in categories %}
          <li class="nav-item mb-2">
            <a
              href="{% url 'filter_by_category' category.id %}"
              class="nav-link text-white"
            >
              {{ category.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-9 col-lg-10 p-4">
        <h2>
          {% if selected_category %} {{ selected_category.name }} {% else %} All
          Dishes {% endif %}
        </h2>

        <div class="row">
          {% for dish in dishes %} {% include 'card.html' %} {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
