<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %} {% for dish in dishes %}
    <div class="card h-100" style="width: 18rem">
      {% load static %}
      <img src="{% static 'dish1.jpg' %}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{dish.name}}</h5>
        <p class="card-text">{{dish.decription}}</p>
        <p class="card-text">${{dish.price}}</p>
        <a href="{% url 'delete' dish.id %}" class="btn btn-primary">Delete</a>
      </div>
    </div>
    {% endfor %} {% endblock %}
  </body>
</html>
